# Python
__pycache__/
*.pyc

# Virtual environment
projectEnv/
venv/

# FFmpeg
ffmpeg/

# Environment variables
.env

# Streamlit
.streamlit/

# Data files
data/csv/
data/mp3/
*.csv

# Audio files
*.wav
*.mp3
*.m4a
*.aac

# Models
*.pkl

# OS
.DS_Store
Thumbs.db
