fastapi
uvicorn
pydantic
streamlit==1.52.2
scikit-learn==1.8.0
numpy==1.26.4
python-dotenv
joblib
mysql-connector-python
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
